:root {
    /*Theme Font*/
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #43AFFC; /*Temporary Color*/
}

::selection {
    color: #fff;
    background: #43AFFC;
}

.wrapper {
    width: 400px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
}

.wrapper header {
    display: flex;
    font-size: 21px;
    font-weight: 500;
    color: #43AFFC;
    padding: 16px 15px;
    align-items: center;
    border-bottom: 1px soldi #ccc;
}

header i {
    font-size: 0em;
    cursor: pointer;
    margin-right: 8px;
}

.wrapper.active header i{
    margin-left: 5px;
    font-size: 30px;
}