:root {
    /*Font Section*/
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    /*Color Section*/
    --WhiteBG-Color: #fff;
    --LightBG-Color: #43AFFC;
    --DarkBloodBG-color: #721c24;
    --LightPinkBG-color: #f8d7da;
    --DarkGreenBG-color: #0c5460;
    --LightGreenBG-color: #d1ecf1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a span {
    color: rgb(0, 225, 255);
}
a {
    text-decoration: none;
    color: black;
}