:root {
    font-family: 'Poppins', sans-serif;

    /*Color Section*/
    --main-color: #43AFFC;
    --white-color: #fff;
    --red-blood-color: #721c24;
    --bright-pink-color: #f8d7da;
    --pink-color: #f5c5cb;
    --dark-green-color: #0c5460;
    --light-cyan-color: #d1ecf1;
    --light-green-color: #bee5eb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--main-color);
}
.wrapper {
    width: 400px;
    border-radius: 7px;
    background: var(--white-color);
}
.wrapper header {
    color: var(--main-color);
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}
header i{
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}
.wrapper .input-part {
    display: none;
    margin: 20px 25px 30px;
}
.input-part .info-txt {
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.info-txt.error {
    display: block;
    color: var(--red-blood-color);
    background: var(--pink-color);
    border: 1px solid var(--bright-pink-color);
}
.info-txt.pending {
    display: block;
    color: var(--dark-green-color);
    background: var(--light-cyan-color);
    border: 1px solid var(--light-green-color);
}
.input-part :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}
.input-part input {
    text-align: center;
    border: 1px solid #bfbfbf;
}
.input-part input:is(:focus,:valid) {
    border: 2px solid var(--main-color);
}
.input-part .seperator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seperator::before {
    content: "or";
    color: #bfbfbf;
    font-size: 19px;
    padding: 0 15px;
    background: var(--white-color);
}
.input-part button {
    color: var(--white-color);
    cursor: pointer;
    background: var(--main-color);
}